* {
    padding: 0;
    margin: 0;
}
body {
  background-image: url(shayoimage.jpg);
}
p {
    color: black;
}
.bag {
    font-size: 360px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
}
img {
    margin-top: 20px;
    height: 500px;
    margin-left: 570px;
    border-radius: 190px;
    position: absolute;
}
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.stay {
    margin-top: -40px;
    margin-left: 470px;
    font-size: 30px;
    color: white;
    position: absolute;
}
.tara {
    margin-top: 10px;
    color: white;
    margin-top: 170px;
    font-size: 110px;
    margin-left: 460px;
    position: absolute;
}